html {
  scroll-behavior: smooth;
  /* --purple: #5e3bee;
  --gray: #656b8e;
  --light-gray: #989dbb;
  --black: #0f1221; */
}

body {
  font-family: "Lobster", cursive;
  font-family: "Monoton", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Rock Salt", cursive;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation--avatar-img {
  height: 240px;
}

.navigation--links-list {
  display: flex;
  list-style: none;
}
.navigation--links-list1 {
  display: flex;
  list-style: none;
}

.navigation--link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 30px;
  border-color: transparent;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation--link1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 30px;
  border-color: transparent;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero--img-container {
  background-image: url("/assets/images/purple-sprinkles.png");
  background-size: cover;
  background-position: bottom;
}

.navigation--link:hover {
  background-color: rgb(64, 44, 155);
}

.navigation--link > a {
  text-decoration: none;
  color: rgb(189, 102, 174);
}

.navigation--link1 > a {
  text-decoration: none;
  color: rgb(171, 218, 97);
}
.navigation--link2 > a {
  text-decoration: none;
  color: rgb(92, 114, 56);
  display: flex;
  list-style: none;
}

.navigation--link1:hover {
  background-color: rgb(33, 0, 182);
}

.background--container {
  background-image: url("green back8.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 800px;
}

.background--container2 {
  background-image: url("work back2.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 600px;
}
.background--container3 {
  background-image: url("work back3.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 900px;
}
.background--container4 {
  background-image: url("contact1.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 1320px;
}

.background--container5 {
  background-image: url("footer.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 1000px;
}

.allign-stuff {
  display: center;
  list-style: none;
}
